body{
    padding: 10px;
    background-color: #2D7EB6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.Heading{
color: #ffffff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration: dotted underline;
text-align: center;
border-top: dotted 5px;
border-color: #ffffff;
padding: 20px;
}

.profile-img{
    display: block;
    border-radius: 50%;
    border: solid 5px;
    border-color: #a92a2a;
    width: 250px;
    margin: auto;
}

.Subheading{
    color: #fccd20;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border-left: solid #a92a2a 2px;
    padding-left: 10px;
}

li{
    margin-bottom: 20px;
}
