h1{
color: #2D7EB6;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration: dotted underline;
text-align: center;
}

img{
    border-radius: 200px;
    border: solid 5px;
    border-color: #2D7EB6;
    margin-left: 50px;
}

.Subheading{
    color: #2D7EB6;
}

li{
    margin-bottom: 20px;
}