body{
  /*background: gray;*/
  background: url(https://cdn.britannica.com/22/215522-050-8315BB78/green-grass-close-up.jpg?w=400&h=300&c=crop);
}

div{
  background: rgb(101, 232, 143);
  border: rgb(247, 71, 250);
  border-width: thick; /* 10 px */
  border-style: double;

  }

p{
  color: rgb(182, 40, 80);
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
  background: rgb(99, 87, 227);
  color: black;
  display: block;
}