body{
  /*background: gray;*/
  background: url(https://img.freepik.com/free-photo/closeup-pool-water-texture_181624-59065.jpg?semt=ais_hybrid&w=740&q=80);
}

div{
  background: rgb(101, 232, 143);
  border: rgb(247, 71, 250);
  border-width: thick; /* 10 px */
  border-style: double;

  }

p{
  color: rgb(20, 43, 156);
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
  background: rgb(99, 87, 227);
  color: black;
  display: block;
  border: 10px;
  border-color: rgb(225, 196, 255);
  border-style: double;
}