body {
  background-color: aquamarine;
}

h1 {
  text-align: center;
  border: 5px;
  border-style: dotted;
  color: rgb(255, 18, 180);
}

img {
  border: 5px;
  border-color: blueviolet;
  border-style: ridge
}

p {
  font-size: 20px;
  border: 5px;
  border-color: rgb(237, 255, 71);
  border-style: groove;
  color: rgb(76, 64, 169);
  text-align: center;
}

#img2 {
  margin: 30px;
  width: 300px;
  border: 15px;
  border-color: rgb(255, 71, 227);
  border-style: ridge;
}

#img3 {
  margin: 30px;
  width: 300px;
  border: 15px;
  border-color: rgb(71, 157, 255);
  border-style: groove;
}

.Heading{
  background-color: rgb(0, 221, 255);
  font-size: small;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.MiddleText{
  color: rgb(180, 14, 14);
  margin: 90px 20px;
  text-align: justify;
}

.LinkOfChecklist{
font-size: larger;
font-family: fantasy;
}

.QuizForm{
  padding: 50px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: rgb(95, 52, 236) 10px 2px 5px;
}

#EndingText{
  text-decoration: rgb(85, 0, 255) underline;
}