#Face{
    display: flex;
    background-color: rgb(46, 214, 99);
    width: 350px;
    height: 400px;
}

#Eye{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    margin: 40px 30px;
}

#Pupil{
    background: black;
    width: 50px;
    height: 50px;
    margin: 15px;
}

#Mouth{
    background: black;
    width: 250px;
    height: 150px;
    position: fixed;
    margin: 190px 40px;
}

#Teeth{
    margin: 4px;
    background: white;
    width: 35px;
    height: 30px;
    display: inline-block;
}

#Tongue{
    background: pink;
    margin: 30px 80px;
    width: 80px;
    height: 80px;
}